yfinance==0.2.37
pandas==2.2.2
numpy==1.24.3
requests==2.31.0
tensorflow==2.13.0

python-dotenv==1.0.1
scikit-learn==1.4.2
joblib==1.4.0
ccxt==4.2.85
python-binance==1.0.19
dash==2.14.2
plotly==5.18.0
pandas-ta==0.3.14b0
requests
flask
scipy>=1.10.0
seaborn>=0.12.0
matplotlib>=3.7.0
shap==0.45.0
optuna
textblob
